# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

*.png
*.jpg
*.jpeg

# 1_Clean SimLRs_v2_batch.ipynb
1_Clean SimLRs_v1.ipynb
2_ROC analysis_v1.ipynb
2_ROC analysis with Delong_v2.ipynb
2_ROC_analysis_with_Delong_alpha01_BH_Holm_v3.ipynb
2_ROC_analysis_with_Delong_alpha01_Holm_with_CI_v4.ipynb
# 2_ROC_analysis_with_Delong_alpha01_Holm_with_CI_v5.ipynb
2_ROC_analysis_with_Delong_alpha01_Holm_with_CI_v6.ipynb
# 3_Merge AUC files.ipynb
4_AUCwithCI Plot_FC_v1.ipynb
4_AUCwithCI Plot_FC_v2.ipynb
4_AUCwithCI Plot_all_relationships_v1.ipynb
# 4_AUCwithCI Plot_all_relationships_v2.ipynb
5_ROC_Sensitivity-Specificity_analysis.ipynb




